.password {
  height: fit-content;
}

.header {
  margin-bottom: 8rem;
}

.container {
  height: 100vh;
}

.footer {
  margin-top: 20rem;
}

.icon {
  font-size: 24px;
  margin-right: 8px;
}

.form-control {
  display: inline-block;
  width: 40%;
}

.password-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.strength-indicator {
  display: flex;
  margin-top: 5px;
}

.strength-indicator {
  div {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #adb5bd;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &.weak {
      background-color: #c92a2a;
    }

    &.medium {
      background-color: #ffd43b;
    }

    &.strong {
      background-color: #40c057;
    }
  }
}
