<!-- password-strength.component.html -->
<div class="password">
  <input
    [placeholder]="showPassword ? 'Password' : '********'"
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="password"
    (input)="checkStrength()"
  />
  <span
    class="icon"
    [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-blocked'"
    (click)="togglePasswordVisibility()"
  ></span>

  <div class="strength-indicator">
    <div
      [ngClass]="{
        weak: passwordStrength === 'weak',
        medium: passwordStrength === 'medium',
        strong: passwordStrength === 'strong'
      }"
    ></div>
    <div
      [ngClass]="{
        weak: passwordStrength === 'medium' || passwordStrength === 'strong',
        medium: passwordStrength === 'medium' || passwordStrength === 'strong',
        strong: passwordStrength === 'strong'
      }"
    ></div>
    <div
      [ngClass]="{
        weak: passwordStrength === 'strong',
        medium: passwordStrength === 'strong',
        strong: passwordStrength === 'strong'
      }"
    ></div>
  </div>
</div>
