<div class="container mt-lg-5 text-center">
  <div class="row header">
    <div class="col">
      <header>
        <h1>Password Checker</h1>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="password mt-4">
        <div class="password-input">
          <input
            class="form-control"
            [placeholder]="showPassword ? 'Password' : '********'"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            (input)="checkStrength()"
          />
          <span
            class="icon"
            [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-blocked'"
            (click)="togglePasswordVisibility()"
          ></span>
        </div>
        <div class="strength-indicator">
          <div
            class="strength-indicator__light"
            [ngClass]="{
              weak:
                passwordStrength === PASSWORD_WEAK ||
                passwordStrength === PASSWORD_TOO_SHORT,
              medium: passwordStrength === PASSWORD_MEDIUM,
              strong: passwordStrength === PASSWORDS_STRONG
            }"
          ></div>
          <div
            class="strength-indicator__light"
            [ngClass]="{
              weak: passwordStrength === PASSWORD_TOO_SHORT,
              medium: passwordStrength === PASSWORD_MEDIUM,
              strong: passwordStrength === PASSWORDS_STRONG
            }"
          ></div>
          <div
            class="strength-indicator__light"
            [ngClass]="{
              weak: passwordStrength === PASSWORD_TOO_SHORT,
              strong: passwordStrength === PASSWORDS_STRONG
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <footer class="text-center">
        &copy; {{ currentYear }} Created by Alex Bihas. MIT License
      </footer>
    </div>
  </div>
</div>
