.icon {
  font-size: 24px;
}

.form-control {
  width: 40%;
}

.password-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.strength-indicator {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 5px;

  &__light {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #adb5bd;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &.weak {
      background-color: #c92a2a;
    }

    &.medium {
      background-color: #ffd43b;
    }

    &.strong {
      background-color: #40c057;
    }
  }
}
