<!-- password-strength.component.html -->
<div class="password">
  <input
    [placeholder]="showPassword ? 'Password' : '********'"
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="password"
    (input)="checkStrength()"
  />
  <span
    class="icon"
    [ngClass]="showPassword ? 'icon-eye' : 'icon-eye-blocked'"
    (click)="togglePasswordVisibility()"
  ></span>

  <div class="strength-indicator">
    <div
      [ngClass]="{
        weak:
          passwordStrength === PASSWORD_WEAK ||
          passwordStrength === PASSWORD_TOO_SHORT,
        medium: passwordStrength === PASSWORD_MEDIUM,
        strong: passwordStrength === PASSWORDS_STRONG
      }"
    ></div>
    <div
      [ngClass]="{
        weak: passwordStrength === PASSWORD_TOO_SHORT,
        medium: passwordStrength === PASSWORD_MEDIUM,
        strong: passwordStrength === PASSWORDS_STRONG
      }"
    ></div>
    <div
      [ngClass]="{
        weak: passwordStrength === PASSWORD_TOO_SHORT,
        strong: passwordStrength === PASSWORDS_STRONG
      }"
    ></div>
  </div>
</div>
